@page
@model Proiect.Pages.Parents.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Parent.FirstName" class="control-label"></label>
                <input asp-for="Parent.FirstName" class="form-control" />
                <span asp-validation-for="Parent.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.LastName" class="control-label"></label>
                <input asp-for="Parent.LastName" class="form-control" />
                <span asp-validation-for="Parent.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.Address" class="control-label"></label>
                <input asp-for="Parent.Address" class="form-control" />
                <span asp-validation-for="Parent.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.PhoneNumber" class="control-label"></label>
                <input asp-for="Parent.PhoneNumber" class="form-control" />
                <span asp-validation-for="Parent.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parent.StudentId" class="control-label"></label>
                <select asp-for="Parent.StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
